<div class="container message-container">
    <form>
        <div class="form-group row">
            <label for="input-number" class="col-sm-2 col-form-label">Phone Number</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="input-number" placeholder="Number">
            </div>
        </div>
        <div class="form-group row">
            <label for="input-text" class="col-sm-2 col-form-label" rows="3">Message</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" id="input-text" placeholder="Message"></textarea>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Message Type</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="SMS-Radio" value="SMS"
                            checked>
                        <label class="form-check-label" for="SMS-Radio">
                            SMS
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="MMS-Radio" value="MMS">
                        <label class="form-check-label" for="MMS-Radio">
                            MMS
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="WhatsApp-Radio"
                            value="whatsapp">
                        <label class="form-check-label" for="WhatsApp-Radio">
                            WhatsApp
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="FBM-Radio" value="FBM">
                        <label class="form-check-label" for="FBM-Radio">
                            Facebook Messenger
                        </label>
                    </div>
                    <div class="form-group row MMS-media hidden">
                        <label for="input-media-URL" class="col-sm-2 col-form-label">Media URL</label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" id="input-media-URL"
                                placeholder="https://example.media.com">
                        </div>


                    </div>
                </div>
        </fieldset>
        {{!-- <div class="form-group row">
            <div class="col-sm-2">Show Response</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Response
                    </label>
                </div>
            </div>
        </div> --}}
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary btn-send">Send</button>
            </div>
        </div>
    </form>
    {{!-- form end --}}

    <div class="row"> 
        <div class="col-lg-12">
            <p>Outbound API Response Box</p>
            <textarea id="response-box" class="disabled" rows="12" readonly></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" padding="10px">
            <p>webhook API Response Box</p>
            <textarea id="inbound-box" class="disabled" rows="12" readonly></textarea>
        </div>
    </div>
</div>